.calculadora{
    height: 500px;
    width: 350px;
    border: black ridge 15px;
    border-radius: 40px;
}
.tela{
    height: 50px;
    line-height: 50px;
    font-size: 18pt;
    font-weight: bold;
}
.itemP{
    height: 37.6px;
    background-size: 30%;
    background-position: center;
    background-repeat: no-repeat;
}