.calculadora{
    height: 530px;
    width: 350px;
    border: black ridge 15px;
    border-radius: 40px;
}
.tela{
    height: 50px;
    line-height: 50px;
    font-size: 18pt;
    font-weight: bold;
}
.itemP{
    height: 42px;
    background-size: 30%;
    background-position: center;
    background-repeat: no-repeat;
}
.itemPI{
    height: 42px;
    background-size: 20%;
    background-position: center;
    background-repeat: no-repeat;
}
.cientifica{
    height: 650px;
    width: 350px;
    border: black ridge 15px;
    border-radius: 40px;
}
.cientificaON{
    display: block;
}
.cientificaOFF{
    display: none;
}
#tipo{
    float: left;
    font-size: 10pt;
    margin-top: -10px;
    color: #b0b0b0;
}